<div fxLayout="column wrap">
<form  [formGroup]="form" class="normal-form"  fxLayout="row wrap" fxLayoutAlign="end end" >
  <mat-form-field>
  <mat-label>Choose start date</mat-label>
  <input matInput formControlName="inDate"  [matDatepicker]="picker">
  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
  <mat-datepicker #picker></mat-datepicker>
  <mat-error *ngIf="form.controls['inDate'].errors?.required"> This field is mandatory.</mat-error>
 </mat-form-field>

  <mat-form-field>
  <mat-label>Choose end date</mat-label>
  <input matInput formControlName="outDate"   [matDatepicker]="picker2">
  <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
  <mat-datepicker #picker2></mat-datepicker>
  <mat-error *ngIf="form.controls['outDate'].errors?.required"> This field is mandatory.</mat-error>
</mat-form-field>
</form>
  <div fxFlexAlign="end" fxLayout="row">
    <div fxFlexAlign="center" style="margin-right: 10px"> The staff who has handled check in/out for every room:</div>
    <button mat-stroked-button  type="submit" (click)="submitToGetStaff()" style="margin-right: 20px" disabled = "{{!form.valid}}">Show Eligible Staff</button>
  </div>
</div>
<app-normal-table></app-normal-table>
<hr>
<app-room-table></app-room-table>
<hr>
<app-projection-table></app-projection-table>
<hr>
<app-group-count-table></app-group-count-table>

